<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/vendors/bootstrap/bootstrap.css' }}">
    <link rel="stylesheet" href="{{ path '/modules/popup-search/popup-search.css' }}">
    <title>{{title}}</title>
</head>
<body>

<button class="fst-toggle-search btn btn-primary mt-5 mx-auto d-block">Open Search</button>

<script src="{{ path '/vendors/jquery/jquery.min.js' }}"></script>
<script src="{{ path '/modules/popup-search/popup-search.js' }}"></script>
<script>

    $(document).ready(function(){
        var $selector = $('.fst-toggle-search');
            if($selector.length){
                $selector.fstPopupSearch();
            }
    });

</script>

</body>
</html>