<link rel="stylesheet" href="{{path '/css/example.css'}}">


<!-- src/components/alert.hbs -->
{{!-- {{path '/css/example.css'}}
<div class="alert">This is an alert! {{title}}</div> --}}
{{!-- {{render '@example'}} --}}
{{!-- {{view '@example'}}
{{path '/css/example.css' }} --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{path '/css/example.css'}}">
    <title>Test</title>
</head>
<body>

<h1>Hello HTML</h1>

<script src="{{path '/css/example.js'}}"></script>
</body>
</html>
